.icon-dashboard {
    background-image: url('../../assets/icon/dashboard.png');
}

.icon-report {
    background-image: url('../../assets/icon/report.png');
}

.icon-dic-employee {
    background-image: url('../../assets/icon/dic-employee.png');
}

.icon-setting {
    background-image: url('../../assets/icon/setting.png');
}

.icon-tienmat {
    background-image: url('../../assets/icon/tienmat.png');
}

.icon-tiengui {
    background-image: url('../../assets/icon/tiengui.png');
}

.icon-muahang {
    background-image: url('../../assets/icon/muahang.png');
}

.icon-banhang {
    background-image: url('../../assets/icon/banhang.png');
}

.icon-hoadon {
    background-image: url('../../assets/icon/hoadon.png');
}

.icon-kho {
    background-image: url('../../assets/icon/kho.png');
}

.icon-congcu {
    background-image: url('../../assets/icon/congcu.png');
}

.icon-taisan {
    background-image: url('../../assets/icon/taisan.png');
}

.icon-thue {
    background-image: url('../../assets/icon/thue.png');
}

.icon-giathanh {
    background-image: url('../../assets/icon/giathanh.png');
}

.icon-tonghop {
    background-image: url('../../assets/icon/tonghop.png');
}

.icon-ngansach {
    background-image: url('../../assets/icon/ngansach.png');
}

.icon-baocao {
    background-image: url('../../assets/icon/baocao.png');
}

.icon-taichinh {
    background-image: url('../../assets/icon/taichinh.png');
}